:root {
	--yellow: #fbbf24;
}

html,
body,
#content {
	height: 100%;
	width: 100%;
}

html {
	font-size: 20px;
}

body {
	display: flex;
	justify-content: center;
	font-family: 'League Spartan', sans-serif;
	background-color: black;
	color: white;
	font-weight: 300;
}

#content {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.header {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 0 1rem;
	text-align: center;
	width: 100%;
}

.header h1 {
	font-weight: 700;
	font-size: 2.5rem;
}

.header .accent {
	color: var(--yellow);
}

.nav {
	display: flex;
	gap: 1rem;
	font-size: 1rem;
	margin-bottom: 1rem;

	justify-content: center;
	text-align: center;

	width: 100%;
	flex-wrap: wrap;
}

.nav .nav-button {
	color: white;
	background-color: black;
	border: none;
	transition: 0.4s color;
	letter-spacing: 4px;
}

.nav .nav-button:hover {
	cursor: pointer;
	color: var(--yellow);
}

.nav .nav-button.active {
	color: var(--yellow);
	text-decoration: underline;
	text-underline-offset: 0.375rem;
}

.main {
	display: flex;
	flex-direction: column;
	flex: 1;
	align-items: center;
	margin: 0 1rem;
}

.main p {
	text-align: justify;
}

@keyframes fadeIn {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

.home,
.menu,
.contact {
	animation: fadeIn 1.2s;
}

.home {
	display: flex;
	flex-direction: column;
	align-items: center;

	max-width: 1024px;
}

.home img {
	margin: 1rem 0;
	width: 100%;
}

.menu {
	width: 100%;
	width: unset;
}

.pizza-list {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(480px, 1fr));
	gap: 1rem;
	max-width: 768px;
	margin: 1rem 0;
}

.pizza-item {
	display: flex;
	flex-direction: row;
}

.pizza-description {
	width: 50%;

	background-color: hsl(0, 0%, 10%);
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-align: center;
	padding: 1rem;
}

.pizza-description hr {
	width: 25%;
	border: 0;
	height: 1px;
	background-color: grey;
}

.pizza-name,
.pizza-price {
	font-weight: 500;
}

.pizza-price {
	color: var(--yellow);
}

.pizza-item img {
	width: 50%;
}

footer {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	font-size: 0.75rem;
	padding: 0.75rem;
}

footer span {
	display: flex;
	align-items: center;
	height: 1.7rem;
	white-space: nowrap;
}

footer .emoji {
	font-size: 1.3rem;
}

.fa-github {
	color: white;
	opacity: 75%;
	transition: transform 0.3s ease-in-out;
	font-size: 1.4rem !important;
}

.fa-github:hover {
	opacity: 100%;
	transform: rotate(360deg) scale(1.2);
}

@media only screen and (max-width: 480px) {
	.pizza-list {
		grid-template-columns: 1fr;
	}

	.pizza-item {
		flex-wrap: wrap;
		width: 100%;
	}
	.pizza-description {
		width: 100%;
	}
	.pizza-item img {
		width: 100%;
	}
}

@media only screen and (min-width: 1024px) {
	.menu {
		width: 100%;
	}

	.pizza-list {
		width: 100%;
		max-width: unset;
		grid-template-columns: 1fr 1fr;
	}
}

@media only screen and (min-width: 1600px) {
	.pizza-list {
		grid-template-columns: 1fr 1fr 1fr;
	}
}
